@tailwind base;

@tailwind components;

.button{
    @apply text-white no-underline rounded-lg text-sm py-2 px-5 bg-gradient-to-r from-green-300 to-green-600
}
html{
    @apply overflow-x-hidden
}
body{
    @apply bg-gray-900 text-gray-50 font-light overflow-x-hidden
}
.navbar{
    @apply h-auto flex justify-between
}
.logo{
    @apply flex-none w-32 h-12 flex flex-wrap content-center justify-center ml-7
}
.menu{
    @apply flex-none w-32 h-12 flex flex-wrap content-center justify-center mr-7
}
.container{
    @apply p-0
}

.maintabs{
    @apply opacity-0 overflow-hidden px-3 h-0;
    z-index: -2;transition:all .31s;top:8vh;
}

.maintabs.active{
    @apply z-0 opacity-100  h-auto;
}

input{
    @apply text-gray-900
}

.navfooter{
    @apply fixed bottom-0 overflow-hidden left-0 w-screen flex-none w-32 h-12 flex flex-nowrap content-center justify-center mr-7 flex-row content-center justify-evenly items-stretch
}

.navf-item{
    @apply flex flex-wrap content-around;
    transition:all .1s;
}

.navf-item.active{
    @apply px-5;
    box-shadow: 0 0 0px 7px #ffffff14;
}

.post{
    @apply rounded-lg w-full p-2 px-5 my-5;
    transition:all .1s;
    /* box-shadow:0 0 20px 1px #ffffff1f; */
}

.post .user{
    @apply h-12 flex
}

.post .user .user-inner{
    @apply flex
}

.post .user .user-inner .avatar{
    @apply mr-4 rounded-full h-11 w-11 
}

.post .user .avatar-sub-desc{
    @apply text-xs
}

.post .user .avatar-desc{
    @apply mt-0.5
}

.post .content{
    @apply px-8 text-xl font-extralight
}

.post .actions{
    @apply  w-full flex-none w-32 h-10 flex flex-nowrap content-center justify-center mt-1.5 flex-row content-center justify-evenly items-stretch
}

.post .action-item {
    @apply w-32
}
strong{
    @apply font-light
}

.border-div{
    @apply border border-white box-border border-gray-700
}

.create-post{
    @apply py-2 my-5
}
.create-post .post-heading{
    @apply text-4xl font-extralight
}

.create-post .post-submit{
    @apply rounded-full inline-block py-2 px-8 font-light flex items-center;
    outline:none;transition:all .521s;
}

.spinLoader{
    @apply transform-gpu scale-0 mr-1.5 w-0;
    transition:all .21s;
}

.spinLoader-visible{
    @apply transform-gpu scale-100 w-auto;
}

.create-post .post-submit.button-with-spinLoader{
    @apply pr-4 pl-2.5
}

.create-post .post-box textarea{
    @apply w-full text-2xl font-extralight bg-transparent rounded-lg my-4 p-3;
    height:57vh;
}

.button-feedback{
    @apply transition-shadow duration-150;
    box-shadow:0 0 0px 0px rgb(255 255 255 / 3%);
}

.button-feedback:active{
    @apply bg-gray-800;
    box-shadow:0 0 22px 22px rgb(255 255 255 / 3%);
}

/* .all-wrapped-up{
    @apply flex ;
    width:500vw;
} */
@tailwind utilities;

*{
    box-shadow: 0 0 0px 1px #ffffff0f;
}

textarea,button,button:active{
    outline:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}